	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color: hsla(280, 13%, 25%, 0.8);
  padding: 7%;
}
body{
  background-color: hsla(, saturation, lightness);
  color: hsla(0,100%, 100%, 0.9); 
}
header h1{
  background-color: hsla(0, 100%, 30%, 0.99);
}

div.preamble, div.requirements, div.benefits{

}
footer{

}

div.participation{

}
aside.sidebar{

}




/** 02 Typography -- Font  **/
body{
  font-family: Georgia, 'Times New Roman', Times, serif; 
}



/** 03 Position, Size, layout **/
div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative;
}
aside, sidebar{
  position: absolute;
  top: 5%;
  right: 0;
  width: 20%;
}
section.intro{
  width: 80%;
  padding: 3%;
}
section.intro div.preamble{
  margin-left: -25%;
  padding: 5% 5% 5% 30%;
}
div.extra1{
  position: fixed;
  top: 0%;
  right: 0%;
  width: 25%;
  height: 700px;
  background-color: hsla(0, 100%, 0%, .5);
  z-index:1;
}
div.explanation{
  float: left;
  width: 20%;
  padding: 15%
}

footer{
   
}
/** 04  Other decoration -- background Links **/ 



/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}
